/* Universal Styles */
html {
    font-size: 16px;
  }
  
  body {
    font-family: "PT Sans", sans-serif;
    line-height: 1.4;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  a {
    text-decoration: none;
  }
  .body-XL {
    font-family: PT Sans;
    font-size: 1.25rem;
    padding-top: 1rem;
    color: #4B4B4B;
  }
  .heading-M {
    font-size: 1.375rem;
    font-weight: 550;
    color: #232323;
  }
  .body-S {
    font-size: 0.875rem;
  }
  .gray-300 {
    color: #9d9d9d;
  }
  .padding-bottom-1rem {
    padding-bottom: 1rem;
  }
  .heading-XL {
    font-size: 2.25rem;
    font-weight: 550;
    color: #4B4B4B;
    font-family: PT-Serif;
  }
  /* Start of Navigation */
  
  .nav {
    padding: 1rem 2rem;
    align-self: stretch;
    position: relative;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #232323;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: flex;
    float: right;
    font-size: 1.75rem;
    font-weight: 600;
    gap: 1rem;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    color: #232323;
    margin: auto;
  }
  
  .nav > .nav-links > a:hover {
    color: #000000;
    background-color:#FFDE8B;
    border-radius: 2px;
  }
  
  .nav > .nav-links > .highlight {
    box-shadow:0px -1.25rem 0px 0px #FFDE8B inset;
  }
  
  .nav > #nav-check {
    display: none;
  }
  .body-XXXL-Serif {
    font-family: PT Serif;
    font-size: 1.5625rem;
    color: #4b4b4b;
  }
  .body-M {
    font-family: PT sans;
    font-size: 1rem;
    color: #4b4b4b;
  }
  
  @media (max-width:800px) {
    .nav > .nav-btn {
      display: inline-block;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      padding: 1.5rem 1rem 1rem 1rem;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: #ffffff;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      
      background: #232323;
      border-radius: 3px;
      
      z-index: 1;
      
      transform-origin: 4px 0px;
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
  
    .nav > .nav-btn > label > span:first-child
    {
      transform-origin: 0% 0%;
    }
  
    .nav > .nav-btn > label > span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }
  
    /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
    .nav > #nav-check:checked ~ .nav-btn > label > span
    {
      transform: rotate(-45deg) translate(0px, -1px);
      background: #232323;
    }
  
    /*
    * But let's hide the middle one.
    */
    .nav > #nav-check:checked ~ .nav-btn > label > span:nth-last-child(3)
    {
      opacity: 1;
      transform: rotate(45deg) translate(0px, -4px);
      background: #232323;
    }
  
    /*
    * Ohyeah and the last one should go the other direction
    */
    .nav > #nav-check:checked ~ .nav-btn > label > span:nth-last-child(2)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
  
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #ffffff;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 6.75rem;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      text-align: center;
      font-size: 1rem;
      font-weight: 500;
      padding: 1rem 0;
      width: 90%;
      border-bottom: 0.1rem solid #E4E4E4;
    }
    .nav > .nav-links > a:last-child {
      border-bottom: none;
    }
    .nav > .nav-links > .highlight {
      font-weight: 600;
      box-shadow: none;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: 160px;
      padding: 0.5rem 0;
      overflow-y: auto;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
    }
  }
  /* End of Navigation */
  

  /*footer section*/
  .footer {
    width: 100%;
    margin-top: 1.5rem;
  }
  
  .footer p {
    color: #787878;
    font-family: "PT Serif", serif;
    text-align: center;
    padding: 1.5rem 0;
    font-size: 0.75rem
  }
  .contact {
      margin-top: 4rem;
      text-align: center;
  }
  .contact p{
      font-family: "PT Serif", serif;
  }
  .contact-icons {
      display: flex;
      justify-content: center;
  
  }
  .contact-icons .icon{
      text-align: center;
      margin: 1rem;
  }
  .icon i{
      font-size: 2rem;
      color: #9b9b9b;
  }
  .contact-icons:hover i{
      color: #e1e1e1;
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .contact-icons i:hover {
      color: #9b9b9b;
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  /*about page for mobile*/
  @media (max-width:768px) {
    .abt-intro {
        display: none;
    }
    .abt-hi {
        display: none;
    }
    .abt-recent {
        display: none;
    }
    .abt-recent-multi {
        display: none;
    }
    .m-abt-intro {
        display: flex;
        flex-direction: column;
        background-color: #F7F8FD;
        padding: 3rem 2rem;
      }
    .m-abt-intro .image-profile {
        margin: auto;
        padding-bottom: 2rem;
    }
    .m-abt-hi {
        display: flex;
        flex-direction: column;
        padding: 3.5rem 1.5rem;
        gap: 5%;
        width: 75%;
        padding-bottom: 4rem;
    }
    .m-abt-recent {
        display: flex;
        flex-direction: column;
        width: 75%;
        padding: 3rem 0 1rem 0;
    }
    .m-abt-recent-multi {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3%;
    }
    .body-S-Serif {
        font-size: 1.5rem;
        font-family: PT sans;
        color: #404040;
        font-weight: 500;
    }
    .link {
        color: #0716e6;
      }
      .space {
        padding-bottom: 1rem;
      }
      .bottom-line {
        padding: 3.5rem 0;
        border-bottom: 1px solid #E4E4E4;
      }
  }
  /*about page for desktop*/
@media (min-width:768px) {
.m-abt-intro {
    display: none;
}
.m-abt-hi {
    display: none;
}
.m-abt-recent {
    display: none;
}
.m-abt-recent-multi {
    display: none;
}
.abt-intro {
    display: flex;
    flex-direction: row;
    padding: 6.25rem 0rem;
    width: 100%;
    background-color: #F7F8FD;
    gap: 3%;
    align-items: center;
  }
  .image-profile {
    padding-left: 15%;
  }
  .abt-content {
    padding-right: 15%;
  }
  .image-container img {
    width: 100%;
  }
  
  .link {
    color: #0716e6;
  }
  .space {
    padding-bottom: 1rem;
  }
  .abt-hi {
    display: flex;
    flex-direction: column;
    padding: 3.5rem 0;
    gap: 5%;
    width: 67%;
    padding-bottom: 4rem;
  }
  .abt-recent {
    display: flex;
    flex-direction: column;
    width: 67%;
    padding: 4rem 0 1rem 0;
  }
  .abt-recent-multi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3%;
  }
  .item {
    width: 25%;
  }
  .bottom-line {
    padding-bottom: 3.5rem;
    border-bottom: 1px solid #E4E4E4;
  }
}