/* Universal Styles */
html {
  font-size: 16px;
}

body {
  font-family: "PT Sans", sans-serif;
  line-height: 1.4;
  font-size: 1.25rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.highlight {
  box-shadow:0px -1.25rem 0px 0px #FFDE8B inset;
}

.nav {
  padding: 1rem 0;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}



.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #232323;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: flex;
  float: right;
  font-size: 1.75rem;
  font-weight: 600;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  color: #232323;
  margin: auto;
}

.nav > .nav-links > a:hover {
  color: #5E5EF0;
  background-color:#D1CDEC;
  border-radius: 2px;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    padding: 1.5rem 1rem 1rem 1rem;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: #ffffff;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #232323;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  .nav > .nav-btn > label > span:first-child
  {
    transform-origin: 0% 0%;
  }

  .nav > .nav-btn > label > span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }

  /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
  .nav > #nav-check:checked ~ .nav-btn > label > span
  {
    transform: rotate(-45deg) translate(0px, -1px);
    background: #232323;
  }

  /*
  * But let's hide the middle one.
  */
  .nav > #nav-check:checked ~ .nav-btn > label > span:nth-last-child(3)
  {
    opacity: 1;
    transform: rotate(45deg) translate(0px, -4px);
    background: #232323;
  }

  /*
  * Ohyeah and the last one should go the other direction
  */
  .nav > #nav-check:checked ~ .nav-btn > label > span:nth-last-child(2)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #ffffff;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 6.75rem;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    padding: 1rem 0;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: 160px;
    padding: 0.5rem 0;
    overflow-y: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
  }
  .highlight {
    border-bottom: 0.125rem solid #000000;
    box-shadow: none;
  }
}
/*
.name {
  font-size: 2.5rem;
  color: #000000;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03rem;
  line-height: 1;
}
.nickname {
  font-family: "PT Serif", serif;
  color: #B2824F;
  text-align: center;
  letter-spacing: 0.17rem;
  line-height: 1;
}


.mobile-intro-image, .mobile-intro {
  display: none;
}
*/

/*smartphones for landscape and portrait for title and intro section*/
@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .mobile-intro-image {
    display: block;
    width: 100%;
    padding: 1rem 0;
    width: 85%;
    margin: auto;
  }
  .mobile-intro-image img {
    width: 100%;
  }
  .intro-background {
    display: none;
  }
  .mobile-intro {
    display: block;
    padding: 2rem 1rem;
  }
  .mobile-intro p {
    color: #787878;
    padding-bottom: 1rem;
    font-family: "PT-serif", serif;
  }
  .mobile-intro .resume {
      color: #1D9AF6;
      text-decoration: none;
  }
}

/*intro section*/
.intro-background {
  padding: 1rem 0;
  height: 24.5rem;
  max-width: 75rem;
  width: 100%;
}

.yellow-card {
  background-color: #FFF28A;
  border-radius: 1rem;
  margin-right: 2rem;
  margin-bottom: 0.5rem;
  height: 24rem;
}

.white-card {
  position: relative;
  left: 2rem;
  top: 0.5rem;
  background: #FFFFFF;
  box-shadow: -2px 2px 4px 0 rgba(205,205,205,0.50), 3px 2px 8px 0 rgba(231,231,231,0.50);
  border-radius: 1rem;
  height: 24rem;
}

.intro-content {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 100%;
  padding-top: 2.5rem;
  padding-left: 1rem;
}

.intro {
  width: 25.5rem;
}

.intro h1 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.intro p {
  color: #787878;
  padding-bottom: 1rem;
  font-family: "PT-serif", serif;
}

.resume {
  color: #1D9AF6;
  text-decoration: none;
}

.intro-image {
  width: 29rem;
}

.intro-image img {
  width: 100%;
}

.mobile-selected, .mobile-work {
  display: none;
}

/*0st self checkout card*/
#self-checkout {
  padding-right: 5rem;
  width: 19rem;
}

#self-checkout img {
  width: 100%;
}

/*smartphones for landscape and portrait for 0st self-checkout section*/
@media only screen and (min-width: 320px) and (max-width: 1024px) {
  body {
    background-color: #FCFCFC;
    font-size: 1rem;
    padding: 0 1rem;
    display: block;
  }

  .mobile-works, .mobile-selected {
    display: block;
  }

  .mobile-selected h2 {
    text-align: left;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .work {
    display: none;
  }
  .mobile-work {
    display: block;
    border-style: 0.0625rem solid #CCCCCC;
    box-shadow: -2px 2px 4px 0 rgba(205,205,205,0.50), 3px 2px 8px 0 rgba(231,231,231,0.50);
    background-color: #FFFFFF;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
  }
  .mobile-work .image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
  }
  .mobile-work .image-container img {
    width: 100%;
    padding: 1rem 0.5rem;
  }

  .mobile-work .content {
    padding: 1rem 1rem;
    display: block;
    width: auto;
  }

  .mobile-work h3 {
    color: #B2824F;
    font-size: 0.875rem;
  }

  .mobile-work h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.6;
  }

  .mobile-work p {
    color: #787878;
    font-family: "PT Serif", serif;
  }

  .footer p {
    font-size: 0.4rem;
  }

  .mobile-work:active {
    box-shadow: -2px 2px 4px 0 rgba(205,205,205,0.50), 3px 2px 8px 0 rgba(231,231,231,0.50);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .mobile-work a {
    text-decoration: none;
    color: #000000;
  }
}
/*1st boss card*/
.work {
  width: 100%;
  height: 25rem;
  padding-top: 2rem;
  margin-top: 1.5rem;
  border-radius: 1rem;
  box-shadow: -2px 2px 4px 0 rgba(205,205,205,0.50), 3px 2px 8px 0 rgba(231,231,231,0.50);
  max-width: 75rem;
}
.work:hover {
  box-shadow: -2px 2px 40px 0 rgba(205,205,205,0.50), 3px 2px 160px 0 rgba(231,231,231,0.50);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.work:active {
  box-shadow: -2px 2px 4px 0 rgba(205,205,205,0.50), 3px 2px 8px 0 rgba(231,231,231,0.50);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.work a {
  text-decoration: none;
  color: inherit;
}

.content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.content-left {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.content-left h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-weight: 700;
}

.content-left h3 {
  font-size: 1rem;
  color: #B2824F;
  padding-top: 3.5rem;
  letter-spacing: 0.08rem;
}

.content-left h4 {
  text-decoration: none;
  color: #B2824F;
  padding-top: 1rem;
  font-family: "PT-serif", serif;
}

.content p {
  font-family: "PT-serif", serif;
  color: #787878;
}

.device {
  display: flex;
  justify-content: flex-start;
  width: 5.84%;
  padding-top: 1rem;
}

.device .image-container {
  padding-right: 0.7rem;
  width: 1.5rem;
}

.device .image-container img {
  width: 2rem;
}

.content a {
  text-decoration: none;
  color: #000000;
}

.content-right {
  padding: 1rem 0;
  margin-right: 2rem;
}
/*2nd inventory*/

/*3rd associate experience*/

/*footer section*/
.footer {
  width: 100%;
  margin-top: 1.5rem;
}

.footer p {
  color: #787878;
  font-family: "PT Serif", serif;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 0.75rem
}
.contact {
    margin-top: 4rem;
    text-align: center;
}
.contact p{
    font-family: "PT Serif", serif;
}
.contact-icons {
    display: flex;
    justify-content: center;

}
.contact-icons .icon{
    text-align: center;
    margin: 1rem;
}
.icon i{
    font-size: 2rem;
    color: #9b9b9b;
}
.contact-icons:hover i{
    color: #e1e1e1;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.contact-icons i:hover {
    color: #9b9b9b;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/*about page*/
.about-box {
  width: 100%;
  padding: 2rem 0;
  margin-top: 1.5rem;
  max-width: 54rem;
}

.about {
  padding-bottom: 3rem;
}
.about h2 {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 2rem;
  line-height: 1.2;
}

.about p {
  font-family: "PT-serif", serif;
  padding-bottom: 1.5rem;
}

.about-box .image-container {
  width: 100%;
  max-width: 75rem;
}

.image-container img {
  width: 100%;
}

