/* Universal Styles */
html {
  font-size: 16px;
}
body {
  font-family: "PT Sans", sans-serif;
  line-height: 1.4;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.body-S {
  font-size: 0.875rem;
}
.body-M {
  font-family: PT sans;
  font-size: 1rem;
}
.body-XXXL {
  font-size: 1.2rem ;
  font-weight: 400;
  padding-bottom: 0.5rem;
  color:#3E3E3E;
}
.body-XXXL-Serif {
  font-family: PT Serif;
  font-size: 1.5625rem;
  color: #4b4b4b;
}
.body-XL {
  font-family: PT Sans;
  font-size: 1.25rem;
  padding-top: 1rem;
  max-width: 60ch;
}
.heading-M {
  font-size: 1.375rem;
  font-weight: 550;
}
.heading-L {
  font-size: 1.75rem;
  font-weight: 550;
}
.heading-XXL {
  font-size: 2.8125rem ;
  font-weight: 600;
  padding-bottom: 2rem;
  color: #232323;
}
.heading-XL {
font-size: 2.25rem ;
font-weight: 550;
font-family: PT-Serif;
color: #232323;
padding-bottom: 0.5rem;
}
.heading-XS {
font-size: 1rem ;
font-weight: 550;
font-family: PT Sans;
}
.gray-60 {
  color: #f9f9f9;
}
.gray-300 {
  color: #9d9d9d;
}
.gray-500 {
  color: #676767;
}
.gray-900 {
  color: #232323;
}
.blue-600 {
  color: #262FE7;
}
.purple-600 {
  color: #594DCD;
}
a {
  text-decoration: none;
}
.padding-bottom-1rem {
  padding-bottom: 1rem;
}
.text-center {
  text-align: center;
}
.tag-group {
  display:flex;
  justify-content: flex-start;
  padding: 0.8rem 0;
  color: #3e3e3e;
  gap: 0.3rem;
}
.tag-yellow {
  border-radius:0.25rem;
  background-color:#FFDE8B;
  margin-right: 0.5rem;
  padding: 0.2rem 1rem;
}
.tag-pink {
  border-radius:0.25rem;
  background-color:#FFAED5;
  padding: 0.2rem 1rem;
}
.tag-green {
  border-radius:0.25rem;
  background-color:#9FDB9B;
  padding: 0.2rem 1rem;
}
.tag-red {
  border-radius:0.25rem;
  background-color:#FFAE8B;
  padding: 0.2rem 1rem;
  margin-right: 0.5rem;
}
.tag-blue {
  border-radius:0.25rem;
  background-color:#A8DCEC;
  padding: 0.2rem 1rem;
}
.tag-purple {
  border-radius:0.25rem;
  background-color:#E1DDFC;
  padding: 0.2rem 1rem;
}
.tag-gray {
  border-radius:0.25rem;
  background-color:#E4E4E4;
  padding: 0.2rem 1rem;
}
.tag-orange {
  border-radius:0.25rem;
  background-color:#FFAE8B;
  padding: 0.2rem 1rem;
}
/* End of universal styles*/
/* Start of Navigation */
.nav {
  padding: 1rem 2rem;
  width: calc(100% - 2rem);
  background-color: #ffffff;
  position: fixed;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  box-shadow: 3px 2px 8px 0 rgba(231,231,231,0.50);
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #232323;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: flex;
  float: right;
  font-size: 1.75rem;
  font-weight: 600;
  gap: 1rem;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  color: #232323;
  margin: auto;
}

.nav > .nav-links > a:hover {
  color: #000000;
  background-color:#FFDE8B;
  border-radius: 2px;
}

.nav > .nav-links > .highlight {
  box-shadow:0px -1.25rem 0px 0px #FFDE8B inset;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:800px) {
  .nav > .nav-btn {
    display: inline-block;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    padding: 1.5rem 1rem 1rem 1rem;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: #ffffff;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #232323;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  .nav > .nav-btn > label > span:first-child
  {
    transform-origin: 0% 0%;
  }

  .nav > .nav-btn > label > span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }

  /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
  .nav > #nav-check:checked ~ .nav-btn > label > span
  {
    transform: rotate(-45deg) translate(0px, -1px);
    background: #232323;
  }

  /*
  * But let's hide the middle one.
  */
  .nav > #nav-check:checked ~ .nav-btn > label > span:nth-last-child(3)
  {
    opacity: 1;
    transform: rotate(45deg) translate(0px, -4px);
    background: #232323;
  }

  /*
  * Ohyeah and the last one should go the other direction
  */
  .nav > #nav-check:checked ~ .nav-btn > label > span:nth-last-child(2)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #ffffff;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 6.75rem;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 0;
    width: 90%;
    border-bottom: 0.1rem solid #E4E4E4;
  }
  .nav > .nav-links > a:last-child {
    border-bottom: none;
  }
  .nav > .nav-links > .highlight {
    font-weight: 600;
    box-shadow: none;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: 160px;
    padding: 0.5rem 0;
    overflow-y: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
  }
}
/* End of Navigation */

/*Start of intro section*/
  .dsk-intro {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  padding: 15rem 0 10rem 0;
  z-index: -1;
  }
  .intro-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  }
  /* Whatamesh gradient CSS*/
  #gradient-canvas {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -3;
  width:100%;
  height:100%;
  --gradient-color-1: #E8D3FF; 
  --gradient-color-2: #C6CFFF; 
  --gradient-color-3: #d7e7fd;  
  --gradient-color-4: #f9efce;
  }
/* End of Whatamesh gradient CSS*/

/*End of desktop for title and intro section*/

/*mobile for work section*/
.work {
  width: 80%;
  display: flex;
  padding: 3.5rem 1.5rem;
  border-radius: 1rem;
  box-shadow: -2px 2px 4px 0 rgba(205,205,205,0.50), 3px 2px 8px 0 rgba(231,231,231,0.50);
  max-width: 75rem;
  margin-top: 5rem;
}
.work:hover {
  box-shadow: -2px 2px 40px 0 rgba(205,205,205,0.50), 3px 2px 160px 0 rgba(231,231,231,0.50);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.work:active {
  box-shadow: -2px 2px 4px 0 rgba(205,205,205,0.50), 3px 2px 8px 0 rgba(231,231,231,0.50);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.work a {
  width: 100%;
  display: flex;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content-left {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
}
.content-left .body-XL {
  color:#2f2f2f;
}
.content-right {
  display: flex;
  padding: 0 1.5rem;
}
.image-container {
  width: 100%;
  display: flex;
  padding: 1.5rem;
}
.sit-cover {
  background-color: #A6A3FB;
}
.boss-cover {
  background-color: #E3CFB2;
}
.SC-cover {
  background-color: #F4F9F9;
}
.content-right img {
  width: 100%;
  height: auto;
  display: flex;
}
.btn-primary {
  border-radius:1.25rem;
  background-color:#5E5EF0;
  padding: 0.4rem 1rem 0.5rem 1rem;
  color: #FFFFFF;
  font-weight: 600;
}
.test {
  background-color: #000000;
  height: 5rem;
}

@media only screen and (min-width: 1024px) {
  .content {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    align-items: center;
  }
  .sit-cover, .boss-cover, .SC-cover {
    background-color: #ffffff;
  }
}

/*Start of more projects section for mobile*/
.bg-grey60{
  padding: 3.5rem 0;
  background-color: #f9f9f9;
  margin-top: 5rem;
}
  .morework {
    display: none;
  }
  .m-morework {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
  }
  .m-morework-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #E4E4E4;
    border-radius: 0.8rem;
    padding: 0;
    margin-bottom: 2.5rem;
    width: 100%;
  }
  .m-horizontal-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2.5rem;
    width: auto;
  }
  .ic-card {
    background-color: #E1DDFC;
    display: flex;
    width: 100%;
    border-radius: 0.8rem 0.8rem 0 0;
  }
  .ic-card img {
    display: flex;
    width: 100%;
    height: auto;
  }
  .reward-card {
    background-color: #E7E0D3;
    display: flex;
    width: 100%;
    border-radius: 0.8rem 0.8rem 0 0;
  }
  .reward-card img {
    display: flex;
    width: 100%;
    height: auto;
  }
  .map-card {
    background-color: #D4ECEC;
    display: flex;
    width: 100%;
    border-radius: 0.8rem 0.8rem 0 0;
  }
  .map-card img {
    display: flex;
    width: 100%;
    height: auto;
  }
  .m-horizontal-content .body-XL {
    color: #232323;
  }
  .mp {
    padding-top: 6rem;
    color: #2F2F2F;
  }
/*End of more projects section for mobile */

/*Start of more projects section for desktop*/
@media only screen and (min-width: 1024px) {
.m-morework {
  display: none;
  }
.morework {
  width: 100%;
  padding: 8rem 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 37.5rem;
  max-width: 75rem;
  gap: 2%;
}
.morework-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e4e4e4;
  border-radius: 0.8rem;
}
.morework-card:hover {
  box-shadow: -2px 2px 40px 0 rgba(205,205,205,0.50), 3px 2px 160px 0 rgba(231,231,231,0.50);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.horizontal-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2.5rem;
  width: auto;
  object-fit: cover;
}
.horizontal-image-container {
  border-radius: 0.8rem 0.8rem 0 0;
  border-bottom: 1px solid #e4e4e4;
  height: 13.75rem;
}
.ic-card {
  background-color: #E1DDFC;
}
.reward-card {
  background-color: #E7E0D3;
}
.map-card {
  background-color: #D4ECEC;
}
.horizontal-content .body-XL {
  color: #232323;
}
}

/*End of more projects section*/

/*footer section*/
.footer {
  width: 100%;
}

.footer p {
  color: #cfcfcf;
  font-family: "PT Serif", serif;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 0.75rem
}
.contact {
    padding: 5rem;
    text-align: center;
    background-color: #232323;
    background-image: url(../images/footer-bg.png);
    width: 100%;
}
.contact p{
    font-family: "PT Serif", serif;
}
.contact-icons {
    display: flex;
    justify-content: center;
}
.contact-icons .icon{
    text-align: center;
    margin: 1rem;
}
.icon i{
    font-size: 2rem;
    color: #ffffff;
}
.contact-icons:hover i{
    color: #e1e1e1;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.contact-icons i:hover {
    color: #5E5EF0;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

